pipeline/sub_ExecUSQLScript.json
{
	"name": "sub_ExecUSQLScript",
	"properties": {
		"activities": [
			{
				"name": "GetFolders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSVSubFolder",
						"type": "DatasetReference",
						"parameters": {
							"Input_SubFolderName": {
								"value": "@pipeline().parameters.input_SubFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop Folder for File Contents",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolders').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DataLakeAnalyticsU-SQL1",
							"type": "DataLakeAnalyticsU-SQL",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"scriptPath": "2016/sales.usql",
								"scriptLinkedService": {
									"referenceName": "AzureDataLakeStore1",
									"type": "LinkedServiceReference"
								},
								"parameters": {
									"sales_file": {
										"value": "@concat('2016/',item().name,'/{*}.txt')",
										"type": "Expression"
									},
									"lineitems_file": {
										"value": "@concat('2016/output/',item().name,'/line_items/',item().name,'.txt')",
										"type": "Expression"
									},
									"orders_file": {
										"value": "@concat('2016/output/',item().name,'/orders_items/',item().name,'.txt')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDataLakeAnalytics1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input_SubFolderName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}