pipeline/WorkingUSQL.json
{
	"name": "WorkingUSQL",
	"properties": {
		"activities": [
			{
				"name": "GetSubFolders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSVAll",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSubFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSubFolders').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "U-SQL1",
							"type": "DataLakeAnalyticsU-SQL",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"scriptPath": "2016/sales.usql",
								"scriptLinkedService": {
									"referenceName": "AzureDataLakeStore1",
									"type": "LinkedServiceReference"
								},
								"parameters": {
									"sales_file": {
										"value": "2016/01/01.txt",
										"type": "Expression"
									},
									"lineitems_file": "2016/output/lineitems/01.txt",
									"orders_file": "2016/output/orders/01.txt"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDataLakeAnalytics1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}